RewriteEngine on
RewriteBase /PizzaML/html
RewriteRule ^/?checkout$ index.php?page=checkout [L]
RewriteRule ^/?order\/([0-9]+)$ index.php?page=order&id=$1 [L]
RewriteRule ^/?order$ index.php?page=order&id=0 [L]
RewriteRule ^/?home$ index.php [L]
